body {
  font-size: 15px;
  font-family: Roboto
}

.container {
  width: auto;
  margin: 0 auto;
  position: relative;
  border: 1px solid red;
}


.topnav {
  display: flex;
  min-height: 80px;
  background: #33292a;
  justify-content: center;
  align-items: center;
  color: white;
  gap: 100px;
}

.topnav li {
  list-style-type: none;
  font-size: 25px;
  padding: 0 5px
}

.topnav li a:hover {
  color: lightblue
}

.topnav li a {
  color: white;
  text-decoration: none
}

a.icon {
  display: none
}

.sec1 {
  background: url("scott-goodwill.jpg") 50% 50%;
  background-size: cover;
  min-height: 100vh;
}

.sec2 {
  height: 500px;
  display: flex;
  align-items: center
}



.about-us {
  width: 100%;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.about-us-img {
  width: 20%;
  height: 300px;
  background: url("about-us.jpg") 50% 50%;
  background-position: center;
  background-size: cover;
}

.about-us-text {
  width: 20%;
  height: fit-content;
}

.container-text {
  width: 340px;
  text-align: right;
  bottom: 11vh;
  right: 10vw;
  position: absolute;
}

h1 {
  font-size: 76px;
  color: white
}

.title {
  font-size: 30px;
  color: black;
}

.about-texts{
  margin: auto;
  margin-bottom: 100px;
  margin-top: 100px;
  width: 55%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.sekce3{
  width: auto;
  margin: 0 auto;
  position: relative;
  border: 1px solid red;
  background-color: #2d2424;
}

.about-main{
  text-align: center;
  width: 100%;
  height: 500px;
}

.about-title{
  font-size: 35px;
  color: white;
  margin-top: 10px;
  margin-bottom: 10px;
}

.about-paragraph {
  font-size: 15px;
  color: white;
}

.about-icons{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;               
  
}

.icon-text{
  margin-top: 10px;
  font-size: 20px;
  color: white;
}

.icon{
  width: 80px;
  height: auto;
}


@media screen and (width <=768px) {

  /* w:390px */
  .container {
    width: 100%
  }

  .topnav {
    /*display: none;*/
  }

  a.icon {
    display: block
  }
}

@media screen and (width <=992px) {

  /* w:390px */
  .container {
    width: 100%
  }

  .topnav {
    /*display: none;*/
  }

  a.icon {
    display: block
  }
}