body {
  font-size: 15px;
  font-family: Roboto
}

.container {
  width: auto;
  margin: 0 auto;
  position: relative;
  border: 1px solid red;
}

/* */
section.container {
  min-height: 100vh;
}

.topnav {
  display: flex;
  min-height: 80px;
  background: #33292a;
  justify-content: center;
  align-items: center;
  color: white;
  gap:70px;
}

.topnav li {
  list-style-type: none;
  font-size: 25px;
  padding: 0 5px
}

.topnav li a:hover {
  color: lightblue
}

.topnav li a {
  color: white;
  text-decoration: none
}

a.icon {
  display: none
}

.sec1 {
  background: url("scott-goodwill.jpg") 50% 50%;
  background-size: cover;
}
.sec2{
  
}
.about-us{
  width: 100%;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.about-us-img{
  width: 30%;
  height: 300px;
  background: url("about-us.jpg") 50% 50%;
  background-position: center;
  background-size: cover;
}
.about-us-text{
  width: 30%;
  height: fit-content;
}

.container-text {
  width: 340px;
  text-align: right;
  bottom: 11vh;
  right: 10vw;
  position: absolute;
}

h1 {
  font-size: 76px;
  color: white
}
.title{
  font-size: 30px;
  color: black;
}

@media screen and (width <=768px) {

  /* w:390px */
  .container {
    width: 100%
  }

  .topnav {
    /*display: none;*/
  }

  a.icon {
    display: block
  }
}

@media screen and (width <=992px) {

  /* w:390px */
  .container {
    width: 100%
  }

  .topnav {
    /*display: none;*/
  }

  a.icon {
    display: block
  }
}