body {
  margin: 0;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

.container {
  width: auto;
  margin: 0 auto;
  position: relative;
}


.topnav {
  display: flex;
  min-height: 80px;
  background: #33292a;
  justify-content: center;
  align-items: center;
  color: white;
  gap: clamp(20px, 8vw, 100px);;
}

.topnav li {
  list-style-type: none;
  font-size: 25px;
  padding: 0 5px;
  white-space: nowrap;
}

.topnav li a:hover {
  color: lightblue
}

.topnav li a {
  color: white;
  text-decoration: none
}

a.icon {
  display: none
}

.sec1 {
  background: url("scott-goodwill.jpg") 50% 50%;
  background-size: cover;
  min-height: 100vh;
}

.sec2 {
  min-height: 500px;
  height: auto;
  display: flex;
  align-items: center;
  padding: 50px 0;
}



.about-us {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  padding: 0 5%;
}

.about-us-img {
  width: 35%;
  height: 300px;
  background: url("about-us.jpg") 50% 50%;
  background-position: center;
  background-size: cover;
}

.about-us-text {
  width: 35%;
  height: fit-content;
}

.container-text {
  width: 340px;
  text-align: right;
  bottom: 11vh;
  right: 10vw;
  position: absolute;
}

h1 {
  font-size: 76px;
  color: white
}

.title {
  font-size: 30px;
  color: black;
}

.about-texts {
  margin: auto;
  margin-bottom: 100px;
  margin-top: 70px;
  width: 55%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.sekce3 {
  width: auto;
  margin: 0 auto;
  padding: 50px 0px;
  background-color: #2d2424;
}

.about-main {
  text-align: center;
  width: 100%;
  height: 500px;
}

.about-title {
  font-size: 35px;
  color: white;
  margin-top: 10px;
  margin-bottom: 10px;
}

.about-paragraph {
  font-size: 16px;
  color: white;
}

.about-icons {
  width: 55%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.icon-text {
  margin-top: 10px;
  font-size: 20px;
  color: white;
}

.icon {
  width: 80px;
  height: auto;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #ffffff;
  position: relative;
}

body::before,
body::after {
  display: none;
}


.page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery {
  background: #ffffff;
  padding: 60px 40px;
  border-radius: 4px;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  gap: 18px;
  width: 900px;
}

.trip-item,
.trip-center {
  border-radius: 8px;
  overflow: hidden;
  height: 210px;
  flex: 0 0 calc((100% - 2 * 18px) / 3);
}

.trip-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.trip-center {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f2f2f2;
  text-align: center;
}

.trip-center h2 {
  font-size: 24px;
  font-weight: 600;
}

.sekce5 {
  padding: 90px 0px;
  background-color: #644b4f;
}

.contact-title {
  color: white;
  font-size: 40px;
  margin: 0;
}

.contact-paragraph {
  color: white;
  font-size: 16px;
  margin: 0 0 18px;
}

.contact-text-button {
  flex: 1;
  max-width: 520px;
}

.contact-main {
  display: flex;
  margin: 0 auto;
  align-items: flex-start;
  justify-content: center;
  gap: 120px;
}

.contact-container-title {
  flex: 1;
  max-width: 320px;
}

.contact-btn {
  display: inline-block;
  text-decoration: none;
  font-weight: 700;
  margin-top: 10px;
  background-color: white;
  color: #111;
  padding: 12px 22px;
  font-size: 16px;
  border-radius: 5px;
}

.contact-btn:hover {
  background-color: #e9877b;
}

.sekce6 {
  padding: 90px 0px;
  background-color: #f2f2f2;
}

.reviews-main {
  width: min(1100px, 90%);
  margin: 0 auto;
  text-align: center;
}

.reviews-title {
  font-size: 36px;
  margin: 0 0 12px;
  color: #111;
}

.reviews-intro {
  max-width: 520px;
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.6;
  color: #333333;
}

.reviews-cards {
  margin-top: 70px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 120px;
}

.review-card {
  width: 380px;
}

.review-img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  object-fit: cover;
  display: block;
  margin: 0 auto 20px;
}

.review-text {
  font-size: 16px;
  line-height: 1.6;
  color: #333333;
  margin: 0 0 22px;
}

.review-name {
  font-size: 14px;
  font-weight: 700;
  margin: 0;
  color: #111;
}

.footer-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 850px;
  width: 100%;
}

.footer-img {
  width: 100%;
  height: 100%;
}

.img1 {
  background: url('footer-img3.jpg') 50% 50%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.img2 {
  background: url('footer-img2.jpg') 50% 50%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.img3 {
  background: url('footer-img1.jpg') 50% 50%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.img4 {
  background: url('obrazek3.jpg') 50% 50%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


.site-footer {
  background-color: #2d2424;
  padding: 50px 0;
  width: 100%;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  width: 100%;
}

.footer-link {
  color: #e9877b;
  text-decoration: underline;
  font-size: 18px;
  font-weight: 500;
}

.footer-info {
  color: white;
  font-size: 14px;
  margin: 0;
}

.footer-link:hover {
  color: #ed6957;
}



@media screen and (width <=768px) {

  /* w:390px */
  .container {
    width: 100%
  }

  .topnav {
    /*display: none;*/
  }

  a.icon {
    display: block
  }
}

@media screen and (width <=992px) {

  /* w:390px */
  .container {
    width: 100%
  }

  .topnav {
    /*display: none;*/
  }

  a.icon {
    display: block
  }

  
}