body {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

.container {
  width: auto;
  margin: 0 auto;
  position: relative;
  border: 1px solid red;
}


.topnav {
  display: flex;
  min-height: 80px;
  background: #33292a;
  justify-content: center;
  align-items: center;
  color: white;
  gap: 100px;
}

.topnav li {
  list-style-type: none;
  font-size: 25px;
  padding: 0 5px
}

.topnav li a:hover {
  color: lightblue
}

.topnav li a {
  color: white;
  text-decoration: none
}

a.icon {
  display: none
}

.sec1 {
  background: url("scott-goodwill.jpg") 50% 50%;
  background-size: cover;
  min-height: 100vh;
}

.sec2 {
  height: 500px;
  display: flex;
  align-items: center
}



.about-us {
  width: 100%;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 5px;
}

.about-us-img {
  width: 20%;
  height: 300px;
  background: url("about-us.jpg") 50% 50%;
  background-position: center;
  background-size: cover;
}

.about-us-text {
  width: 20%;
  height: fit-content;
}

.container-text {
  width: 340px;
  text-align: right;
  bottom: 11vh;
  right: 10vw;
  position: absolute;
}

h1 {
  font-size: 76px;
  color: white
}

.title {
  font-size: 30px;
  color: black;
}

.about-texts{
  margin: auto;
  margin-bottom: 100px;
  margin-top: 70px;
  width: 55%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.sekce3{
  width: auto;
  margin: 0 auto;
  padding: 50px 0px;
  background-color: #2d2424;
}

.about-main{
  text-align: center;
  width: 100%;
  height: 500px;
}

.about-title{
  font-size: 35px;
  color: white;
  margin-top: 10px;
  margin-bottom: 10px;
}

.about-paragraph {
  font-size: 16px;
  color: white;
}

.about-icons{
  width: 55%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.icon-text{
  margin-top: 10px;
  font-size: 20px;
  color: white;
}

.icon{
  width: 80px;
  height: auto;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff;
    position: relative;
}

body::before,
body::after {
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    height: 6px;
    background: #5b3c28;
    z-index: 999;
}

body::before {
    top: 0;
}

body::after {
    bottom: 0;
}

.page {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery {
    background: #ffffff;
    padding: 60px 40px;
    border-radius: 4px;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    gap: 18px;
    width: 900px;
}

.trip-item,
.trip-center {
    border-radius: 8px;
    overflow: hidden;
    height: 210px;
    flex: 0 0 calc((100% - 2 * 18px) / 3);
}

.trip-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.trip-center {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f2f2f2;
    text-align: center;
}

.trip-center h2 {
    font-size: 24px;
    font-weight: 600;
}

.sekce5{
  padding: 90px 0px;
  background-color: #644b4f;
}

.contact-title{
  color: white;
  font-size: 40px;
  margin: 0;
}

.contact-paragraph{
  color: white;
  font-size: 16px;
  margin: 0 0 18px;
}

.contact-text-button{
  flex: 1;
  max-width: 520px;
}

.contact-main{
  display: flex;
  margin: 0 auto;
  align-items: flex-start;
  justify-content: center;
  gap: 120px;
}

.contact-container-title{
  flex: 1;
  max-width: 320px;
}

.contact-btn{
  display: inline-block;
  text-decoration: none;
  font-weight: 700;
  margin-top: 10px;
  background-color: white;
  color: #111;
  padding: 12px 22px;
  font-size: 16px;
  border-radius: 5px;
}

.contact-btn:hover{
  background-color: #e9877b;
}


@media screen and (width <=768px) {

  /* w:390px */
  .container {
    width: 100%
  }

  .topnav {
    /*display: none;*/
  }

  a.icon {
    display: block
  }
}

@media screen and (width <=992px) {

  /* w:390px */
  .container {
    width: 100%
  }

  .topnav {
    /*display: none;*/
  }

  a.icon {
    display: block
  }
}